<div>
  
  <p class="font-bold text-gray-800 text-2xl">
    <app-counter [duration]="20" />
  </p>

  <div class="w-full">
    <app-wave-audio audioUrl="assets/music.mp3" />
  </div>

  <section class="mt-5 w-1/2 mx-auto">
    <div>
        <input type="text" placeholder="add item" (keydown.enter)="addItem($event)">
    </div>
    <ng-template customFor let-data [appCustomFor]="items()">
      <div class="w-full">
        <h1 class="text-blue-400 font-bold">{{ data }}</h1>
        <button class="bg-red-300 text-white font-bold rounded-lg px-3 py-2">
          Add
        </button>
      </div>
    </ng-template>    
  </section>

  <section class="mt-5 container mx-auto"> 
    <div>
        <input type="number" min="0" placeholder="enter count of items" [(ngModel)]="cantOfItems" 
        class="px-3 py-2 bg-blue-100 w-1/5 rounded-3xl">
    </div>
    <ng-template repeated [times]="cantOfItems">
        <div class="w-full bg-red-100 text-gray-800 font-bold text-sm px-5 rounded-2xl py-1 mt-2 mb-1">
            <p>Item</p>
        </div>
    </ng-template>
    <div 
        *repeated
        class="w-full mt-10 bg-red-100 text-gray-800 font-bold text-sm px-5 rounded-2xl py-1 mb-1">
        <p>Item</p>
    </div>
  </section>
  
</div>
